/* How to use flex?
Dr Hamdani University of Tissemsilt */
.navBar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(134, 141, 243);
    height: 35px;
    position: sticky;
    top: 0;
  }
  
  .navBar a {
    color: white;
    text-decoration: none;
  }