/* How to use flex?
Dr Hamdani University of Tissemsilt */
.lefBar {
    display: flex;
    flex-direction: column;
    order: 1;
    width: 20%;
    justify-content: space-between;
    gap: 0.2em;
  }
  
  .lefBar-study {
    order: 1;
    background-color: rgb(225, 236, 214);
  }
  .lefBar-courses {
    order: 2;
    background-color: rgb(228, 236, 228);
  }
  .lefBar-popularLinks {
    order: 2;
    background-color: rgb(241, 235, 236);
  }

  .rightBar {
    order: 3;
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    
   
    
  }
  
  .rightBar img{
  width: 100px;
  height: 100px;
  justify-self: center;
  align-self: center;
  transition: width 2s;

  }